* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#09212C, #043E49);
    background-repeat: no-repeat;
    background-size: cover;

    width: 90%;
    min-height: 100vh;

    font-family: "Red Hat Text", sans-serif;
}

main {
    background-image: url(AI\ image\ -\ OpenAI.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    min-height: 100vh;
    color: white;
}

.Posicionar {
    position: relative;
    top: 200px;
    left: 120px;

    padding: 40px 50px 25px 40px;
    width: 100%;
    max-width: 600px;
    background-color: transparent;

    backdrop-filter: blur(10px);
}

.text p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.Tamanho {
    font-size: 18px;
}

h1 {
    font-weight: 600;
    font-size: 2.5em;
}

p {
    font-weight: 300;
    font-size: 14px;
}

img {
    max-height: 20px;
}

.background-b {
    background-color: #63E1E1;
    width: 90px;
    height: 36px;
    border-radius: 30px;
    border: none;
}

.Margin {
    position: relative;
    top: 350px;
    left: 80px;
}

.Colunas {
    column-count: 4;

    border: 1px solid rgba(255, 255, 255, 0.349);
    border-radius: 20px;
    background-color: transparent;
    padding: 20px 50px;
    
    backdrop-filter: blur(3px);
    width: 100%;
}